body{
    background-image: url(https://i.pinimg.com/originals/5f/08/58/5f085809f2b711643e4eb4974cc03c0e.gif);
    font-family: 'Sedgwick Ave Display', cursive;
}
h1{
    
    text-align: center;
    color: white;
}
td{
    color: white;
    text-align: center;
}
th{
    color: white;
    text-align: center;
}